/* This is to reset almost everything under the popup to a sane value.
 * Unfortunately, we have to use `!important` in case some clever
 * designers decide to write something like:
 * span {
 * 	color: red !important;
 * }
 * This approach however, should not affect content of pages,
 * because every rule is prefixed with `#rikaigu-window`.
 * */

#rikaigu-window,
#rikaigu-window * {
	width: auto !important;
	height: auto !important;
	background: transparent !important;
	border: none !important;
	border-spacing: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	letter-spacing: normal !important;
	text-align: left !important;
	text-decoration: none !important;
	text-indent: 0px !important;
	text-transform: none !important;
	white-space: normal !important;
	word-spacing: normal !important;
	font: normal 14px sans-serif !important;
	visibility: visible !important;
}

#rikaigu-window div {
	display: block !important;
}

#rikaigu-window {
	display: block !important;
	position: absolute !important;
	z-index: 99992 !important;
	border: 1px solid #D0D0D0 !important;
	padding: 4px !important;
	top: 5px !important;
	left: 5px !important;
	min-width: 100px !important;
	border-radius: 5px !important;
}

#rikaigu-window hr {
	display: block !important;
	border-style: inset !important;
	border-width: 1px !important;
}


/* used for word definitions */

#rikaigu-window .w-kanji {
	font-size: 18px !important;
}

#rikaigu-window .spacer {
	margin-right: 0.7em !important;
}


#rikaigu-window .w-kana {
	font-size: 18px !important;
}


#rikaigu-window .w-conj {
	font-size: 12px !important;
}

#rikaigu-window .w-def {
	font-size: 13px !important;
}

#rikaigu-window .w-title {
	font-size: 10px !important;
	padding: 2px !important;
}

#rikaigu-window .w-na-tb td {
	vertical-align: top !important;
	padding-right: 0.8em !important;
}

#rikaigu-window .note {
	font-size: 10px !important;
	float: right !important;
}

#rikaigu-window .clearfix {
	display: block !important;
	clear: both !important;
	width: 100% !important;
}


/* used for kanji information */

#rikaigu-window .k-main-tb {
	width: 300px !important;
}

#rikaigu-window .k-kanji {
	font-family: serif !important;
	font-size: 48px !important;
}

#rikaigu-window .k-eigo {
	font-size: 12px !important;
}


/* kanji: readings */

#rikaigu-window .k-yomi {
	font-size: 14px !important;
	margin: 4px 0px !important;
}

#rikaigu-window .k-yomi-ti {
	font-size: 11px !important;
}


/* kanji radical, grade, freq, strokes box */

#rikaigu-window .k-abox-tb {
	width: 120px !important;
	margin-bottom: 4px !important;
	float: right !important;
	clear: right !important;
}

#rikaigu-window .k-abox-r {
	font-size: 12px !important;
	text-align: center !important;
	padding: 1px 4px !important;
}

#rikaigu-window .k-abox-g {
	font-size: 12px !important;
	text-align: center !important;
	padding: 1px 4px !important;
}

#rikaigu-window .k-abox-f {
	font-size: 12px !important;
	text-align: center !important;
	padding: 1px 4px !important;
}

#rikaigu-window .k-abox-s {
	font-size: 12px !important;
	text-align: center !important;
	padding: 1px 4px !important;
}


/* kanji components box */

#rikaigu-window .k-bbox-tb {
	width: 120px !important;
	margin-bottom: 4px !important;
	float: right !important;
	clear: right !important;
}

#rikaigu-window .k-bbox-0a {
	vertical-align: top !important;
	font-size: 11px !important;
	padding: 1px 3px !important;
}

#rikaigu-window .k-bbox-0b {
	vertical-align: top !important;
	font-size: 11px !important;
	padding: 1px 3px !important;
}

#rikaigu-window .k-bbox-1a {
	vertical-align: top !important;
	font-size: 11px !important;
	padding: 1px 3px !important;
}

#rikaigu-window .k-bbox-1b {
	vertical-align: top !important;
	font-size: 11px !important;
	padding: 1px 3px !important;
}


/* kanji: misc index */

#rikaigu-window .k-mix-tb {
	width: 100%
}

#rikaigu-window .k-mix-td0 {
	font-size: 12px !important;
}

#rikaigu-window .k-mix-td1 {
	font-size: 12px !important;
}


/* manual query */

#rikaigu-window .q-tb td {}

#rikaigu-window .q-w {
	border-right: 1px dotted #B0B0B0 !important;
	padding: 0px 2px !important;
	vertical-align: top !important;
	min-width: 300px !important;
}

#rikaigu-window .q-k {
	padding: 0px 2px !important;
	vertical-align: top !important;
}
