/* See note in */
@import url("popup-common.css");

#rikaigu-window,
#rikaigu-window * {
	color: #FFFFFF !important;
}

#rikaigu-window {
	background: #000000 !important;
}


/* used for word definitions */

#rikaigu-window .w-kanji {
	color: #7070E0 !important;
}

#rikaigu-window .w-kanji.uncommon {
	color: #959595 !important;
}

#rikaigu-window .w-kana {
	color: #20A020 !important;
}

#rikaigu-window .w-kana.uncommon {
	color: #959595 !important;
}

#rikaigu-window .w-conj {
	color: #A0A0A0 !important;
}

#rikaigu-window .w-title {
	background: #303030 !important;
	color: #E0E0E0 !important;
}


/* used for kanji information */

#rikaigu-window .k-kanji {
	color: #FFFFFF !important;
}


/* kanji: readings */

#rikaigu-window .k-yomi {
	color: #20A020 !important;
}

#rikaigu-window .k-yomi-hi {
	color: #7070E0 !important;
}

#rikaigu-window .k-yomi-ti {
	color: #E0E0E0 !important;
}


/* kanji radical, grade, freq, strokes box */

#rikaigu-window .k-abox-r {
	background: #505050 !important;
	color: #E0E0E0 !important;
}

#rikaigu-window .k-abox-g {
	background: #303030 !important;
	color: #F0F0F0 !important;
}

#rikaigu-window .k-abox-f {
	background: #303030 !important;
	color: #F0F0F0 !important;
}

#rikaigu-window .k-abox-s {
	background: #505050 !important;
	color: #E0E0E0 !important;
}


/* kanji components box */

#rikaigu-window .k-bbox-0a {
	background: #505050 !important;
	color: #E0E0E0 !important;
}

#rikaigu-window .k-bbox-0b {
	background: #505050 !important;
	color: #E0E0E0 !important;
}

#rikaigu-window .k-bbox-1a {
	background: #303030 !important;
	color: #F0F0F0 !important;
}

#rikaigu-window .k-bbox-1b {
	background: #303030 !important;
	color: #F0F0F0 !important;
}


/* kanji: misc index */

#rikaigu-window .k-mix-td0 {
	background: #505050 !important;
	color: #F0F0F0 !important;
}

#rikaigu-window .k-mix-td1 {
	background: #303030 !important;
	color: #E0E0E0 !important;
}
